<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="cover">
    <h2 >Creative and Modern Web Design</h2>
    
</div>

<section>
    <h3>Who Am I?</h3>
    <section class="about">
        <h1>I'm <b>Elizabeth Francisco</b></h1>
        <h2>Web Designer | Content Manager | Graphic Designer</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis, facere quasi iusto necessitatibus corrupti. Velit facilis ad est, commodi magnam qui debitis nesciunt eum, assumenda molestiae iusto? Illo soluta quae repellat vel, sunt nostrum ipsam voluptatem nihil ducimus deleniti nulla iusto sed sequi laudantium.
        </p>
    </section>
</section>

<section class="background">
    <h3>My Experience</h3>
    <div class="jobs">
        <h5>Content Manager</h5>
        <p class="decsription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis.</p>
    </div>

    <div class="jobs">
        <h5>Marketing and Investors Relations Manager</h5>
        <p class="decsription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis.</p>
    </div>

    <div class="jobs">
        <h5>Content Writer</h5>
        <p class="decsription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis.</p>
    </div>
</section>

<section class="skills">
    <h3>What I Can Do</h3>

</section>
    
</body>
</html>