* {
    font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/sakura.jpg");
    background-size: cover;
    background-position: center; 
}

h1 {
    font-family: 'Sansita Swashed', Arial, Helvetica, sans-serif;
}

/* Header */
ul {
    list-style-type: none;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
}

header {
    background-color: #111111;
    padding: 1em;
    color: white;
}