<div class="cover">
    <div class="top">
        <h1>Creative and Modern Web Design</h1>
    </div>
    <section>
    <section class="about">
        <h4>Who Am I?</h4>
        <h2>I'm Elizabeth Francisco</h2>
        <h3>Web Designer | Content Manager | Graphic Designer</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis, facere quasi iusto necessitatibus corrupti. Velit facilis ad est, commodi magnam qui debitis nesciunt eum, assumenda molestiae iusto? Illo soluta quae repellat vel, sunt nostrum ipsam voluptatem nihil ducimus deleniti nulla iusto sed sequi laudantium.
        </p>
    </section>
</section>

<section class="background">
    <h3>My Experience</h3>
    <div class="jobs">
        <h5>Content Manager</h5>
        <p class="decsription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis.</p>
    </div>

    <div class="jobs">
        <h5>Marketing and Investors Relations Manager</h5>
        <p class="decsription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis.</p>
    </div>

    <div class="jobs">
        <h5>Content Writer</h5>
        <p class="decsription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum perspiciatis ab pariatur nam facilis.</p>
    </div>
</section>
</div>