<div class="cover">
    <h1>Discover Asia and all its wonders.</h1>
    <h4>Diverse locations, rich culture, and the best food you'll ever encounter.</h4>
    <button>Learn More</button>
</div>

<section>
    <h3>Must See</h3>
    <h2>Popular Destinations</h2>
    <h4>Most common places people are visiting today. Something something other text here.</h4>
    <div class="popular">


    </div>

    <button>See More</button>

</section>

<section>
    <h3>Must Do</h3>
    <h2>Top Things to Do</h2>
    <h4>Tell us what you want to do in your next vacation and we'll give you a list of the best destinations.</h4>
    <div class="popular">


    </div>

    <button>See More</button>

</section>