
        <header>
            <nav class="header">
                <ul class="menu">
                    <li>LOGO</li>
                    <li>Home</li>
                    <li>Samples</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>
    